@import "./globals";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.global_container {
  padding-top: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.contact {
  max-width: 1024px;
  padding: 0 1rem;

  &__name {
    font-size: 2.5rem;
    text-align: center;
    font-family: $primary-font-family;

    margin-bottom: 4rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    &__info {
      width: 90%;
      max-width: 360px;
      min-height: 300px;
      margin: 0 auto;
      margin-bottom: 2rem;
      background: $primary-white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      @media (min-width: 1024px) {
        width: 35%;
        max-width: auto;

        position: relative;
        z-index: 1;
        top: -2rem;
        right: -8rem;
      }

      &__name {
        font-size: 1.75rem;
        font-weight: 500;
        font-family: $primary-font-family;

        margin-bottom: 1rem;
      }

      &__links {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
          margin-bottom: 0.5rem;
          font-weight: 500;
          text-decoration: none;
          color: $primary-black;
          font-family: $primary-font-family;

          &__icon {
            font-size: 1.25rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    &__form {
      width: 100%;
      max-width: 440px;
      background: $primary-black;
      padding: 0 1.4rem;
      margin: 0 auto;

      position: relative;

      @media (min-width: 1024px) {
        padding: 0 6rem;
        width: 55%;
        max-width: none;
      }

      &__name {
        color: $primary-white;
        font-family: $primary-font-family;
        margin: 2rem 0;
        font-size: 1.75rem;
      }

      &__element {
        * {
          border: none;
        }

        &__name {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 1rem;
          gap: 1rem;

          &__first_name {
            display: inline-block;
            border-radius: 1rem;
            padding: 0.5rem;
          }

          &__last_name {
            display: inline-block;
            border-radius: 1rem;
            padding: 0.5rem;
          }

          @media (min-width: 1024px) {
            flex-direction: row;

            > * {
              width: 50%;
            }
          }
        }

        &__email {
          width: 100%;
          border-radius: 1rem;
          padding: 0.5rem;
          margin-bottom: 1rem;
        }

        &__message {
          width: 100%;
          resize: none;
          height: 8rem;
          border-radius: 1rem;
          padding: 0.5rem;
          margin-bottom: 1rem;
          font-family: $primary-font-family;
        }

        &__submit {
          border-radius: 1rem;
          padding: 0.5rem;
          margin-bottom: 2rem;
          width: 4rem;
        }
      }
    }
  }
}

.maps {
  padding: 8rem 0;

  &__map {
    width: 100%;
    height: 36rem;
  }
}
